* {
    font-family: 'Arial';
    box-sizing: border-box;
}

body {
    /*margin: 0;*/
    background-color: lightblue;
}

header {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    clear: both;
}


a.ab {

}

img.a {
    max-width: 100%;
    height: auto;
    padding-bottom: 20px;
}

div.indenta {
    text-indent: 40px;
}

div.rightallign {
    right: 150px;
}

#outerDiv {
    background-color: honeydew;
    max-width: 1300px;
    margin: auto;
}

.col1 {
    display: block;
    float: left;
    padding: 25px;
    width: 33%;
    color: darkblue;
}

.col2 {
    display: block;
    float: left;
    padding: 25px;
    width: 50%;
    color: darkblue;
}

.col3 {
    float: left;
    width: 49%;
    padding-right: 20px;
    padding-left: 20px;
}

.col4 {
    float: left;
    width: 50%;
    padding-right: 20px;
    padding-left: 30px;
}

.col5 {
    float: left;
    width: 95%;
    padding-right: 20px;
    padding-left: 20px;
}

.col6 {
    display: block;
    float: left;
    padding: 25px;
    width: 100%;
    color: darkblue;
}

footer {
    background-color: dodgerblue;
    padding-top: 10px;
    text-align: center;
    color: black;
}

.mySlides {
    display: none
}

.w3-left, .w3-right, .w3-badge {
    cursor: pointer
}

.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}

section::after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width:900px) { /*its like an if statement*/
    .col3 {
        width: 95%;
    }

    .col4 {
        width: 95%;
    }
    
    .col5 {
        width:95%;
    }
}

@media screen and (max-width: 800px) {
    header, col1, col2, col6 {
        width: 100%;
        height: auto;
    }
}

@media screen and (max-width:600px) {
    .a {
        visibility: hidden;
        position: absolute;
    }
}

